.goal {
  background: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.goal h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  color: #fff;
}

.secImg {
  margin-top: -80px;
}

/* ============================= */

.graceMonkey {
  background-image: url(../public/images/case-monkey/goal-bg.png);
}

.cravecourier {
  background-image: url(../public/images/case-crave/goal-bg.png);
}

.homepro {
  background-image: url(../public/images/case-homepro/goal-bg.png);
}

.readyApp {
  background-image: url(../public/images/case-ready/goal-bg.png);
}

.soulscribe {
  background-image: url(../public/images/case-scribe/goal-bg.png);
}

.fitnow {
  background-image: url(../public/images/case-fitnow/goal-bg.png);
}

.beats {
  background-image: url(../public/images/case-beats/goal-bg.png);
}

.healthcare {
  background-image: url(../public/images/case-health/goal-bg.png);
}

.dreamhome {
  background-image: url(../public/images/case-dreamhome/goal-bg.png);
}

.rideme {
  background-image: url(../public/images/case-ride/goal-bg.png);
}

.tourista {
  background-image: url(../public/images/case-travel/goal-bg.png);
}

.sponsord {
  background-image: url(../public/images/case-sponsord/goal-bg.png);
}

.wisu {
  background-image: url(../public/images/case-wisu/goal-bg.png);
}

/* =========================================== */

@media screen and (max-width: 991px) {
  .goal {
    padding: 50px 0 0;
  }

  .goalRow {
    flex-direction: column-reverse;
  }

  .secImg {
    margin-top: 20px;
  }

  .goal h3 {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .goal h3 {
    font-size: 25px;
    line-height: 35px;
  }
}
