.animate {
  background-color: #000;
  padding-bottom: 100px;
}

.imgBox{
  text-align: center;
}


@media screen and (max-width: 991px) {
  .animate {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .secImg2{
      margin-top: 0px;
  }
}