.nothing {
  background-color: black;
  padding-top: 100px;
  padding-top: 125px;
  padding-bottom: 170px;
  background: #000;
  background-image: url(../public/images/nothing/bg.png);
  background-position: 886px center;
  background-repeat: no-repeat;
  background-size: inherit;
  background-size: 27%;

}

.lp6final h3{
  font-weight: 800;
}

.nothing1 {
 background-color: black;
  padding-top: 150px;

  padding-bottom: 120px;
  background: #000;
  background-image: url(../public/images/nothing/bg.png);
  background-position: 886px center;
  background-repeat: no-repeat;
  background-size: inherit;
  background-size: 27%;

}
.lp6final {
 background-color: black;
  padding-top: 70px;
  padding-bottom: 70px;
  background: #000;
  background-image: url(../public/images/nothing/bg.png);
  background-position: 886px center;
  background-repeat: no-repeat;
  background-size: inherit;
  background-size: 27%;

}
.lp6final h2{
  color: #F32F53;
}
.lp6final .btnpost{
  border-radius: unset;
}


.btnpost {
  height: 45px;
  background-color: #F32F53;
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.startSlide {
  position: relative;
}

.startSlide::before {
  position: absolute;
  content: '';
  background-color: #707070;
  width: 70%;
  height: 2px;
  left: 0;
  bottom: -15px;
}


@media screen and (min-width: 1400px) {


  .nothing1 {
    background-position: 953px center;
  }

}

@media screen and (min-width: 1600px) {


  .nothing1 {
    background-position: 1153px center;
  }

}